{%- if section.settings.background_image != blank -%}
  {%- style -%}
    .logo__image { max-width: {{ section.settings.logo_width }}px; }
  {%- endstyle -%}
{%- endif -%}

<header class="password-header">
  <div class="password-header__content container">
    <div class="password-header__logo logo logo--{% if section.settings.logo == blank %}text{% else %}image{% endif %}">
      {%- if section.settings.logo != blank -%}
        {%- liquid
          assign logo_width = section.settings.logo.width
          if logo_width > section.settings.logo_width
            assign logo_width = section.settings.logo_width | plus: 0
          endif

          assign logo_height = logo_width | divided_by: section.settings.logo.aspect_ratio | round
          if logo_height > 150
            assign logo_width = 150 | times: section.settings.logo.aspect_ratio | round
            assign logo_height = 150
          endif

          assign logo_width_2x = logo_width | times: 2
          assign logo_height_2x = logo_height | times: 2
        -%}
        <div class="logo__image">
          <img class="logo__default-image"
               src="{{ section.settings.logo | image_url: width: logo_width }}"
               {%- if section.settings.logo.width >= logo_width_2x and section.settings.logo.height >= logo_height_2x %}
                 srcset="{{ section.settings.logo | image_url: width: logo_width_2x }} 2x"
               {% endif -%}
               width="{{ logo_width }}"
               height="{{ logo_height }}"
               alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
        </div>
      {%- endif -%}

      <h1 class="logo__text{% if section.settings.logo != blank %} hidden{% endif %}">
        {{- shop.name -}}
      </h1>
    </div>

    <div class="password-login">
      <a href="#password-login">
        <svg class="password-login__icon" width="17" height="20" viewBox="0 0 17 20" aria-hidden="true">
          <path fill="{{ settings.col_text }}" d="M15.725,8.3333333 L15.3,8.3333333 L15.3,6.875 C15.3,3.02 12.3131,0 8.5,0 C4.6869,0 1.7,3.02 1.7,6.875 L1.7,8.3333333 L1.275,8.3333333 C0.5712,8.3333333 0,8.8933333 0,9.5833333 L0,18.75 C0,19.44 0.5712,20 1.275,20 L15.725,20 C16.4288,20 17,19.44 17,18.75 L17,9.5833333 C17,8.8933333 16.4288,8.3333333 15.725,8.3333333 L15.725,8.3333333 L15.725,8.3333333 Z M4.25,6.875 C4.25,4.3808333 6.07665,2.5 8.5,2.5 C10.92335,2.5 12.75,4.3808333 12.75,6.875 L12.75,8.3333333 L4.25,8.3333333 L4.25,6.875 L4.25,6.875 Z M10.2,15.0166667 C10.2,15.9275 9.44605,16.6666667 8.517,16.6666667 L8.483,16.6666667 C7.55395,16.6666667 6.8,15.9275 6.8,15.0166667 L6.8,13.3166667 C6.8,12.4058333 7.55395,11.6666667 8.483,11.6666667 L8.517,11.6666667 C9.44605,11.6666667 10.2,12.4058333 10.2,13.3166667 L10.2,15.0166667 L10.2,15.0166667 Z"/>
        </svg>
        {{ 'storefront_password.login.link' | t }}
      </a>
    </div>
  </div>
</header>

<div hidden>
  <div id="password-login" class="password-popup">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password">{{ 'storefront_password.login.label' | t }}</label>
      <div class="password-login-input-container password-form">
        <input class="input" type="password" name="password" id="password">
        <button class="button" type="submit" name="commit">{{ 'storefront_password.login.button' | t }}</button>
      </div>
    {% endform %}
    <div class="password-owner">
      {{ 'storefront_password.login.admin_link_html' | t }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Password header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 5,
        "unit": "px",
        "label": "Maximum logo width",
        "info": "Logo height is restricted to 150px",
        "default": 150
      }
    ]
  }
{% endschema %}
